div.page
{
	background:linear-gradient(to right, grey 52%, white 48%);
	width:1500px;
	border-color:black;
}

div.contact
{
	background-color:light grey; 
	text-indent:20px each line;
	padding-left:80px;
}

h1
{
	font-family:JasmineUPS, Courier New, monospace;
	
}	

#eventDetails
{	
  position: absolute;
  right: 12%;
  text-align:right;
  overflow:hidden;
  padding:40px 10px 15px 10px;
}

form
{
  color:black;
  position: absolute;
  right: 10%;
  width: 300px;
  padding: 150px;
}


input[type = text],select
{
	width:300px;
	height:45px;
	margin-bottom:15px;
	padding:12px 10px;
	font-family: Lucida Console, Courier New, monospace;
	font-size:13px;
	display:inline-block;
	border:1px solid #CCC;
	border-radius:3px;
	box-sizing:border-box;
}


input[type = file]
{
	font-family: Lucida Console, Courier New, monospace;
}



input[type = reset]
{
	width:80px;
	font-family: Lucida Console, Courier New, monospace;
	cursor:pointer;
}

input[type = submit]
{
	background-color:purple;
	color:white;
	border-radius:20px;
	width:100px;
	height:40px;
	font-family: Lucida Console, Courier New, monospace;
	cursor:pointer;
}

.map
{
	margin-left:3%;
	font-size:20px;
}


h2.symbol
{
	font-size:100px;
}


h3
{
  position: absolute;
  right: 1200px;
}

